
#calc{
    text-align: center;
    border: 2px solid #909080;
    background: #c7c7c7;
    padding-bottom: 25%;
}

.btn.b1{
    text-align: center;
    width: 60px;
    height: 60px;
    color: #190000;
    font-weight: bold;
    font-size: 25px;
}

/*overriding bootstrap style*/
.btn.b1:hover{
    color: white;
    background: #7a7a7a;

}
#buttons{
    margin-left: 35%;
}

#text{
    color: white;
    font-weight: bold;
}

#textSmall{
    color: white;
    font-weight: bold;
}