html{
    height: 100%;
}
#title{
    color: white;
    text-align: center;
    padding-top: 5%;
}
body{
    background: linear-gradient(black, silver);
    background-repeat: no-repeat;
}
#calc{
    text-align: center;
    border: 2px solid #5e5e51;
    background: #ababab;
    padding-bottom: 10%;
    margin-top: 15%;
}
#table{
    text-align: center;
    margin-left: 40%;
    font-size: 40px;
}

.inputs{
    width: 50px;
    text-align: center;
}
.inputs:hover{
    background: #3b3e40;
    color: #ffffff;
}


#text{
    color: white;
    font-weight: bold;
}

#textSmall{
    color: white;
    font-weight: bold;
}